#Comm API/Chennel
flask
./agentic-file-search
#SPARC3D_SDF Requirements
kaolin 
#NewBie AI Reqs
diffusers 
transformers 
accelerate 
safetensors 

#TPU and QPU Adapters
#pygad
#thrml
#oqtopus

#MAYBE???
#torch #ugh....
#jax